body {
    background-color: #F0EEED;
}


.navbar {
    background-color: #251d5b;
}

.navbar a {
    color: #EDDEDE;
}

.navbar a:hover {
    color: #8605cb;
}

h1,
h2,
h3 {
    color: #5C038C;
}

li {
    color: #F5F5F5;
}

a {
    color: #F5F5F5;
}

.card-blog {
    width: 18rem;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
    background-color: #160B62;
}